In [ ]:
## Importing the libraries
import pandas as pd
import selenium
from selenium import webdriver
import time
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException

## __Web_Scraping Assignments-4__.

### Q1. Scrape the details of most viewed videos on YouTube from Wikipedia:
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
### A) Rank
### B) Name
### C) Artist
### D) Upload date E) Views

In [ ]:
from tqdm import tqdm
## this will help track the for loops.

In [ ]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')
time.sleep(7)
## fetching the wibsite
wiki_url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url=wiki_url)
time.sleep(3)
videos_Xpath1 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[3]/tbody/tr/td')
time.sleep(2)
table1_details = []
for i in videos_Xpath1:
    table1_details.append(i.text)
time.sleep(2)

## creating some empty list.

Rank =[]
Video_Name =[]
Artist_Name = []
Upload_date =[]
Views =[]

for x in tqdm(range(0,len(table1_details),6)):
    Rank.append(table1_details[x])
    Video_Name.append(table1_details[x+1])
    Artist_Name.append(table1_details[x+2])
    Views.append(table1_details[x+3])
    Upload_date.append(table1_details[x+4])
### dealing now with the second table on the website

time.sleep(3)
videos_Xpath2 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[5]/tbody/tr/td')
table2_details =[]
for i in videos_Xpath2:
    table2_details.append(i.text)
time.sleep(2)
for x in tqdm(range(0,len(table2_details),5)):
    Video_Name.append(table2_details[x])
    Artist_Name.append(table2_details[x+1])
    Views.append(table2_details[x+2])
    Upload_date.append(table2_details[x+3])
    Rank.append('na') ## the second table videos don't have rank
time.sleep(2)  


### dealing now with the Third table on the website

table3_details =[]
videos_Xpath3 = driver.find_elements_by_xpath('//*[@id="mw-content-text"]/div[1]/table[6]/tbody/tr/td')
for x in videos_Xpath3:
    table3_details.append(x.text)    
for x in tqdm(range(0,len(table3_details),8)):
    Video_Name.append(table3_details[x])
    Artist_Name.append(table3_details[x+1])
    Views.append(table3_details[x+2])
    Upload_date.append(table3_details[x+3])
    Rank.append('na') ## the second table videos don't have rank
    
data1 = pd.DataFrame({
    'Rank':Rank,
    'Video_Name':Video_Name,
    'Artist_Name':Artist_Name,
    'Upload_date':Upload_date,
    'Views':Views 
})    
pd.options.display.max_rows = 8    
data1

In [376]:
data1

,Rank,Video_Name,Artist_Name,Upload_date,Views
0,1.,"""Baby Shark Dance""[22]",Pinkfong Kids' Songs & Stories,"June 17, 2016",9.06
1,2.,"""Despacito""[24]",Luis Fonsi,"January 12, 2017",7.47
2,3.,"""Johny Johny Yes Papa""[25]",LooLoo Kids,"October 8, 2016",5.60
3,4.,"""Shape of You""[26]",Ed Sheeran,"January 30, 2017",5.40
...,...,...,...,...,...
130,na,"""The Chronic of Narnia Rap""‡[146]",youtubedude,"December 18, 2005","2,300,000"
131,na,"""Ronaldinho: Touch of Gold""‡*[148]",Nikesoccer,"October 21, 2005","255,000"
132,na,"""I/O Brush""‡*[151]",larfus,"October 5, 2005","247,000"
133,na,"""Me at the zoo""[57]",jawed,"April 23, 2005",1

In [ ]:
print("**"*40)
print("**"*40)

### Q2. Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
### You need to find following details:
### A) Match title (I.e. 1st ODI)
### B) Series
### C) Place
### D) Date
### E) Time
### Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [ ]:
from selenium.webdriver.common.by import By
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException
import time

In [ ]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')

In [ ]:
import time
driver.maximize_window()
time.sleep(6)
# fetching the website
bcci_url = 'https://www.bcci.tv'
driver.get(url=bcci_url)
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]').click()
driver.find_element_by_xpath('/html/body/div[3]/div/div[2]/div[2]/nav/ul/li[1]/div[2]/div/ul/li[1]/a').click()
time.sleep(3)

Xpath = driver.find_elements_by_xpath('/html/body/div[4]/div/div/div[2]/section/div/div/a') # getting the matches urls
URLS = []
for x in Xpath:
    URLS.append(x.get_property('href'))
time.sleep(3)    
import re ## importing regular expression libraries
Date = []
Time = []
City = []
Match_title = []
Series = []
for i in tqdm((URLS)):
    driver.get(i)
    date = driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[2]/div/div[4]')
    Date.append(date.text)
    time = driver.find_element_by_xpath('//span[@class="mc-header-scorebox__ist-time"]')
    Time.append(time.text)
    city = driver.find_element_by_xpath('/html/body/div[2]/div/div[2]/section[3]/div/ul/li[3]/span[2]')
    City.append(city.text)
    title = driver.find_element_by_xpath('/html/body/div[2]/div/div[2]/section[3]/div/ul/li[1]/span[2]')
    Match_title.append(title.text)
    serie = driver.find_element_by_xpath('/html/body/div[2]/div/header/div/div[1]/div/p/span')
    Series.append(serie.text)
new_Date  = []
for x in Date:
    new_Date.append(re.sub("[15:30 IST]","",x)) ## removing unwanted character from Date list.
    
    
data2 = pd.DataFrame({
    'Match_title':Match_title,
    'Series':Series,
    'Place':City,
    'Date':new_Date,
    'Time':Time    
})

In [375]:
data2

,Match_title,Series,Place,Date,Time
0,England v India 2021,1ST TEST,"Trent Bridge, Nottingham","Wednesday4August,",15:30 IST
1,England v India 2021,2ND TEST,"Lord's, London","hursday2August,",15:30 IST
2,England v India 2021,3RD TEST,"Headingley, Leeds","Wednesday2August,",15:30 IST
3,England v India 2021,4TH TEST,"The Oval, London","hursday2eptember,",15:30 IST
4,England v India 2021,5TH TEST,"Old Trafford, Manchester","Fridayeptember,",15:30 IST

In [ ]:
print("**"*40)
print("**"*40)

## Q3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
## You need to find following details:
## A) Name
## B) Description
## Note: - From guru99 home page you have to reach to selenium exception handling page through code

In [ ]:
from selenium.webdriver.common.keys import Keys
import time

In [ ]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')
time.sleep(8)
driver.maximize_window() ## maximizing the window
## fetching the website
guru_url = 'https://www.guru99.com/'
driver.get(url=guru_url)

input_rsch = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')
input_rsch.send_keys(Keys.ENTER)
time.sleep(2)
input_rsch.send_keys('Selenium Excep')
time.sleep(2)
driver.find_element_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table/tbody/tr[1]/td/div/table/tbody/tr/td/span').click()
time.sleep(2)
elem = driver.find_element_by_xpath('/html/body/div[2]/section[3]/div/div/div/div/div/div/div/div[2]/div/div[1]/div/div/div/div[1]/div[6]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
url =[]
url.append(elem.get_attribute('href'))
for i in url:
    driver.get(i)
    table_Xpath = driver.find_elements_by_xpath('//*[@id="g-mainbar"]/div[1]/div/div/div/div/div/div[2]/table/tbody/tr/td') ## getting whole table.
details = []
for x in table_Xpath:
    details.append(x.text)    
time.sleep(2)
## creating two empty list
Exception_name = []
Description = []

for x in tqdm(range(2,len(details),2)):
    Exception_name.append(details[x])
    Description.append(details[x+1])
data3 = pd.DataFrame({
    'Exception_name':Exception_name,
    'Description':Description
    })  
data3

In [374]:
data3

,Exception_name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
...,...,...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

In [ ]:
print("**"*40)
print("**"*40)

## Q4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
## You have to find following details:
## A) Rank
## B) State
## C) GSDP at current price (19-20)
## D) GSDP at current price (18-19)
## E) Share(18-19)
## F) GDP( billion)
## Note: - From statisticstimes home page you have to reach to economy page through code

In [378]:
## import some important libraries
from selenium.webdriver import ActionChains
from selenium.webdriver import DesiredCapabilities
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import time

In [363]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')

In [373]:

driver.maximize_window()
time.sleep(2)
## fetching the website
stat_url ='http://statisticstimes.com/'
driver.get(stat_url)
time.sleep(3)
try:
    economic = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
    india = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    time.sleep(2)
    actions = ActionChains(driver=driver)
    actions.move_to_element(economic).move_to_element(india).click().perform()
except:
    pass


time.sleep(10)
### I am doing the second time to avoid ads.
try:
    time.sleep(2)
    ## fetching the website
    stat_url ='http://statisticstimes.com/'
    driver.get(stat_url)
    time.sleep(3)
    economic = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/button')
    india = driver.find_element_by_xpath('/html/body/div[2]/div[1]/div[2]/div[2]/div/a[3]')
    time.sleep(2)
    actions = ActionChains(driver=driver)
    actions.move_to_element(economic).move_to_element(india).click().perform()
except:
    pass
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/ul/li[1]/a').click()
time.sleep(2)
TABLE = []
table_xpath = driver.find_elements_by_xpath('//*[@id="table_id"]/tbody/tr/td')
for x in table_xpath:
    TABLE.append(x.text)
## creating some empty list
time.sleep(2)
Rank = []
State= []
GSDP_19_20 = []
GSDP_18_19 = []
Share_18_19=[]
GDP_billion =[]
for x in tqdm(range(0,len(TABLE),8)):
    Rank.append(TABLE[x])
    State.append(TABLE[x+1])
    GSDP_19_20.append(TABLE[x+2])
    GSDP_18_19.append(TABLE[x+3])
    Share_18_19.append(TABLE[x+4])
    GDP_billion.append(TABLE[x+5])
    
data4 = pd.DataFrame({
   'Rank':Rank,
    'State':State,
    'GSDP_19_20':GSDP_19_20,
    'GSDP_18_19':GSDP_18_19,
    'Share_18_19':Share_18_19,
    'GDP_billion':GDP_billion,
    }) 

data4

100%|██████████| 33/33 [00:00<00:00, 90112.00it/s]

,Rank,State,GSDP_19_20,GSDP_18_19,Share_18_19,GDP_billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
...,...,...,...,...,...,...
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [377]:
print("**"*40)
print("**"*40)

********************************************************************************
********************************************************************************

### Q5 Scrape the details of trending repositories on Github.com. Url = https://github.com/
### You have to find the following details:
### A) Repository title
### B) Repository description
### C) Contributors count
### D) Language used
### Note: - From the home page you have to click on the trending option from Explore menu through code.

In [690]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')

In [707]:
driver.maximize_window() ## maximized the window
time.sleep(2)
## fetching the website
git_url = " https://github.com/"
driver.get(url=git_url)

In [709]:
input_search = driver.find_element_by_xpath('/html/body/div[1]/header/div[3]/div/div/form/label/input[1]') ## getting the input search element.
#input_search.send_keys(Keys.ENTER)
input_search.clear()
input_search.send_keys('trending repositories')
time.sleep(1)
input_search.send_keys(Keys.ENTER)
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[4]/main/div/div[3]/div/ul/li[3]/div[2]/div[1]/a').click()
time.sleep(2)
## creating empty list
Table = []
Repository_description = []
Language_used =[]
table_Xpath = driver.find_elements_by_xpath('//*[@id="readme"]/div[3]/article/table/tbody/tr/td')
for x in table_Xpath:
    Table.append(x.text)
for x in tqdm(range(2,len(Table),6)):
    Repository_description.append(Table[x])
    Language_used.append(Table[x+3])
time.sleep(2)
## Let's again create 3 empty list
Contributors_count = []
Repository_title =[]
Urls_list= []

Urls = driver.find_elements_by_xpath('//*[@id="readme"]/div[3]/article/table/tbody/tr/td/div/a')
for x in tqdm(Urls):
    Repository_title.append(x.text)

for x in Urls:
    Urls_list.append(x.get_property('href')) ## getting the links
      

for x in tqdm(Urls_list):
    driver.get(x)
        
    try:
        x = driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[4]/div/h2/a').text
        if 'Contributors' in x:
            Contributors_count.append(x)
        
    except:
        pass
    try:
        y = driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[5]/div/h2/a').text
        if 'Contributors' in y:
            Contributors_count.append(y)
        #else:
    except:
        pass
    
    try:
        z = driver.find_element_by_xpath('/html/body/div[4]/div/main/div[2]/div/div/div[2]/div[2]/div/div[6]/div/h2/a').text
        if 'Contributors' in z:
            Contributors_count.append(z)
    except:
        pass
    try:
        w = driver.find_element_by_xpath('/html/body/div[4]/main/div[2]/form').text
        if  w== w:
            Contributors_count.append('**')
        
    except:
        pass
    
data5 = pd.DataFrame({
    'Repository_title':Repository_title[:53],
    'Repository_description':Repository_description[:53],
    'Language_used':Language_used[:53],
   'Contributors_count':Contributors_count[:53]
})  
data5

100%|██████████| 59/59 [00:00<00:00, 238864.80it/s]
100%|██████████| 59/59 [00:00<00:00, 108.28it/s]
100%|██████████| 59/59 [02:15<00:00,  2.29s/it]

,Repository_title,Repository_description,Language_used,Contributors_count
0,BigDL,BigDL\nBigDL: Distributed Deep Learning Librar...,Scala,Contributors 68
1,freeCodeCamp,freeCodeCamp\nThe https://freeCodeCamp.com ope...,JavaScript,"Contributors 4,284"
2,free-programming-books,free-programming-books\n📚 Freely available pro...,,"Contributors 1,630"
3,tile38,"tile38\nTile38 is a fast geospatial database, ...",Go,Contributors 42
...,...,...,...,...
49,teleconsole,teleconsole\nCommand line tool to share your U...,Go,Contributors 20
50,react-navigation,"react-navigation\nLearn once, navigate anywhere",JavaScript,Contributors 115
51,whalebrew,"whalebrew\nHomebrew, but with Docker images",Go,Contributors 10
52,PythonDataScienceHandbook,PythonDataScienceHandbook\nJupyter Notebooks f...,Jupyter Notebook,Contributors 131

In [573]:
print("**"*40)
print("**"*40)

********************************************************************************
********************************************************************************

### Q6. Scrape the details of top 100 songs on billboard.com. Url = https://www.billboard.com/
### You have to find the following details:
### A) Song name
### B) Artist name
### C) Last week rank
### D) Peak rank
### E) Weeks on board
### Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [796]:
## setting the driver
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')
time.sleep(3)
## fetching the website
url_bill = ' https://www.billboard.com/'
driver.get(url=url_bill)
time.sleep(5)
driver.maximize_window()
time.sleep(2)
driver.find_element_by_xpath('/html/body/div[2]/div[2]/div[2]/nav/ul/li[3]/a').click()
for _ in range(500):
    driver.execute_script("window.scrollBy(0,10000)") ### scrolling the window till the bottom of the page.

time.sleep(3)
name = driver.find_elements_by_xpath('//*[@id="charts"]/div/div/div/ol/li/button/span/span')
#Make empty lists   
music_dict = {}
music_dict['Song_name']= []
music_dict['Artist_name']= []
music_dict['Last week rank']= []
music_dict['Peak rank']= []
music_dict['Weeks on board']= []

My_List = []
for x in name:
    My_List.append(x.text)
for i in range(0,len(My_List),5):
    music_dict['Song_name'].append(My_List[i+2])
    music_dict['Artist_name'].append(My_List[i+3])
    
time.sleep(2)    
MyList2 = []
ranks = driver.find_elements_by_xpath('//*[@id="charts"]/div/div[7]/div/ol/li/button/div')
for i in ranks:
    MyList2.append(i.text.replace('\n',' ').split(sep=' ',maxsplit=3))
for x in MyList2:
    music_dict['Last week rank'].append(x[0])
    music_dict['Peak rank'].append(x[1])
    music_dict['Weeks on board'].append(x[2])
## creating the data frame.

Music_df = pd.DataFrame.from_dict(music_dict)
Music_df

,Song_name,Artist_name,Last week rank,Peak rank,Weeks on board
0,Butter,BTS,1,1,10
1,Industry Baby,Lil Nas X & Jack Harlow,-,2,1
2,Good 4 U,Olivia Rodrigo,2,1,11
3,Stay,The Kid LAROI & Justin Bieber,4,3,3
...,...,...,...,...,...
96,Working,Tate McRae X Khalid,-,88,5
97,Holy Smokes,Trippie Redd Featuring Lil Uzi Vert,50,50,2
98,WUSYANAME,"Tyler, The Creator Featuring YoungBoy Never Br...",91,14,5
99,Still Chose You,The Kid LAROI Featuring Mustard,-,100,1

In [797]:
print("**"*40)
print("**"*40)

********************************************************************************
********************************************************************************

### Q7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
###  You have to find the following details:
### A) Name
### B) Designation
### C) Company
### D) Skills they hire for
### E) Location
### Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [892]:
from selenium.webdriver.common.keys import Keys
import time

In [923]:
## setting the driver
#driver.close()
time.sleep(3)
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')
time.sleep(3)
## fetching the website
url_naukri = 'https://www.naukri.com/'
driver.get(url=url_naukri)
time.sleep(5)
driver.maximize_window()
time.sleep(15)
try:
    driver.find_element_by_xpath('//span[@class="fr geoLocBtn later"]').click() ## for closing the popup
except:
    pass
time.sleep(2)
recu_minu_link = driver.find_element_by_xpath('//a[@title="Search Recruiters"]').get_property("href")
time.sleep(2)
URLS = []
URLS.append(recu_minu_link)
for i in URLS:
    driver.get(i)
    input_srch = driver.find_element_by_xpath('//input[@class="sugInp"]')
    input_srch.send_keys(Keys.ENTER)
    time.sleep(2)
    input_srch.send_keys('Data science')
    time.sleep(2)
## creating and dict and some empty list
dict_ = {}
dict_['Recruiter Name'] =[]
dict_['Recruiter Designation'] =[]
dict_['Company'] =[]
dict_['Location'] =[]
dict_['Skills they hire for'] =[]
My_List =[]
driver.find_element_by_id("qsbFormBtn").click()
time.sleep(2)

In [924]:
for _ in range(500):
    driver.execute_script("window.scrollBy(0,10000)")

## here i will string concatination  and concatinate the "url" to scrap the first 10 pages.
##>>> url = "https://example.com/{0}".format(id)        // like this 
for x in tqdm(range(1,12)):
    driver.get("https://www.naukri.com/data-science-recruiters-{0}?xz=1_0_0&xid=162817085376819700".format(x))
    div_Xpath = driver.find_elements_by_xpath('//*[@id="tabP-1"]/div/div/div')
    for i in div_Xpath:
        My_List.append(i.text.split(sep='\n',maxsplit=6))
    div_Xpath =''
    time.sleep(2)
    driver.find_element_by_xpath('//button[@class="grayBtn"]').click()

100%|██████████| 11/11 [01:12<00:00,  6.61s/it]

In [925]:

My_clean_list = []
for x in range(0,len(My_List),2):
    My_clean_list.append(My_List[x])
for x in My_clean_list:
    dict_['Recruiter Name'].append(x[0])
    dict_['Recruiter Designation'].append(x[1])
    dict_['Company'].append(x[2])
    dict_['Location'].append(x[3])
    dict_['Skills they hire for'].append(x[5])   
Data_Sc_Recruiters_df = pd.DataFrame.from_dict(dict_)
Data_Sc_Recruiters_df

,Recruiter Name,Recruiter Designation,Company,Location,Skills they hire for
0,Aakash Harit,HR Manager,Data Science Network,Delhi,"Classic ASP Developer, Internet Marketing Prof..."
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,Hyderabad / Secunderabad,".Net, Java, Data Science, Linux Administration..."
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,Pune,"Data Science, Artificial Intelligence, Machine..."
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,Ahmedabad,"Mean Stack, javascript, angularjs, mongodb, We..."
4,subhas patel,Founder CEO,LibraryXProject,UK - (london),"Hadoop, Spark, Digital Strategy, Data Architec..."
...,...,...,...,...,...
545,Naween Kumar,Asst Manager Recruitment,Omam Consultants Pvt. Ltd,Delhi,Offshore / Onshore Design / Civil / Structural...
546,Rahul,HR Executive,QuickXpert Infotech,Mumbai,Not Specified
547,Monami,Technical Recruiter,CoffeeBeans Consulting LLP,Bengaluru / Bangalore,"Data Engineer, Data Science, full stack develo..."
548,Pooja HR,HR Recruiter,Magneq Software,Hyderabad / Secunderabad,Not Specified
549,Ramesh Narayanappa,Manager Talent Acquisition,FIS Global,Bengaluru / Bangalore,"java, J2ee, spring, hibernate, struts, c#, Asp..."

In [929]:
Data_Sc_Recruiters_df.to_csv('Data_Sc_Recruiters_df.csv',index=False)

In [927]:
print("**"*40)
print("**"*40)

********************************************************************************
********************************************************************************

### Q8. Scrape the details of Highest selling novels.
### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
### You have to find the following details:
### A) Book name
### B) Author name
### C) Volumes sold
### D) Publisher
### E) Genre

In [931]:
## import some important libraries
from selenium.webdriver import ActionChains
from selenium.webdriver import DesiredCapabilities
from selenium.webdriver.common.by import By
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.action_chains import ActionChains
import time
from selenium.webdriver.common.keys import Keys

In [978]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')

In [1002]:
driver.maximize_window()
time.sleep(3)
novels_link = 'https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/'
## fetching the website
driver.get(url=novels_link)
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[2]/a').click()
time.sleep(4)
inp_srch = driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/div/div[1]/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')
time.sleep(2)
inp_srch.send_keys(Keys.ENTER)
time.sleep(3)
inp_srch.send_keys('Highest selling novels')
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/div/div[1]/div/form/table/tbody/tr/td[2]/button').click()
for _ in range(500):
    driver.execute_script("window.scrollBy(0,1000)")
time.sleep(3)
driver.find_element_by_xpath('/html/body/div[1]/header/nav/div[3]/div/div[2]/div/div/div/div/div[5]/div[2]/div/div/div[3]/a').click()

In [1006]:
URL =[]
url1 = driver.find_element_by_xpath('/html/body/div[7]/div/div[8]/div[1]/div/div[2]/div[2]/div/div/div[1]/div/div[1]/div/div[1]/div/div[2]/div/div/div[1]/a')
URL.append(url1.get_attribute('href'))
time.sleep(4)

### creating some empty list

book_dict = {}
book_dict['Book name'] =[]
book_dict['Author name'] =[]
book_dict['Volumes sold'] =[]
book_dict['Publisher'] =[]
book_dict['Genre'] =[]
Books_details = []
for i in URL:
    driver.get(i)
    time.sleep(3)
    xpat_book = driver.find_elements_by_xpath('/html/body/div/div[2]/div[2]/div/div[2]/div/table/tbody/tr/td')

time.sleep(3)
for x in xpat_book:
    Books_details.append(x.text) ## extracting the data and putting in a list
    
## creating the data  frame  
for x in range(1,len(Books_details),6):
    book_dict['Book name'].append(Books_details[x])
    book_dict['Author name'].append(Books_details[x+1])
    book_dict['Volumes sold'].append(Books_details[x+2])
    book_dict['Publisher'].append(Books_details[x+3])
    book_dict['Genre'].append(Books_details[x+4])
Books_df = pd.DataFrame.from_dict(book_dict)    
Books_df

,Book name,Author name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [1007]:
print("**"*40)
print("**"*40)

********************************************************************************
********************************************************************************

### Q9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
### You have to find the following details:
### A) Name
### B) Year span
### C) Genre
### D) Run time
### E) Ratings
### F) Votes

In [1008]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')

In [1085]:
### fetching the website
imdb_url ='https://www.imdb.com/list/ls095964455/'
driver.get(imdb_url)
time.sleep(2)
driver.maximize_window()
time.sleep(5)
### creating some empty list

tv_series_dict ={}
tv_series_dict['Name'] =[]
tv_series_dict['Year span'] =[]
tv_series_dict['Genre'] =[]
tv_series_dict['Run time'] =[]
tv_series_dict['Ratings'] =[]
tv_series_dict['Votes'] =[]

## scraping the Name of the most watched tv series 
element1 = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for x in element1:
    tv_series_dict['Name'].append(x.text) 
time.sleep(3)    
#### scrapping the year of the most watched tv series 
element2 = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/span')
el2_list =[]
el2_list1 =[]
for x in element2:
    el2_list.append(x.text.split('.',maxsplit=2))
for i in range(0,len(el2_list),2):
    el2_list1.append(el2_list[i+1])
for x in el2_list1:
    tv_series_dict['Year span'].append(x[0])  
time.sleep(3)       
### finding the Genre of the most watched tv series 
element3 = driver.find_elements_by_xpath('//span[@class="genre"]')
for x in element3:
    tv_series_dict['Genre'].append(x.text)  
time.sleep(3)       
### finding the runtime  of the most watched tv series 
element4 = driver.find_elements_by_xpath('//span[@class="runtime"]')
for x in element4:
    tv_series_dict['Run time'].append(x.text) 
time.sleep(3)   
### finding the rating of the most watched tv series 
element5 = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for x in element5:
    tv_series_dict['Ratings'].append(x.text)
time.sleep(3)       
### finding the rating of the most watched tv series 
el6_list = []
element6 = driver.find_elements_by_xpath('//p[@class="text-muted text-small"]//span')
for x in element6:
    el6_list.append(x.text)
for x in range(0,len(el6_list),7):
    tv_series_dict['Votes'].append(el6_list[x+6]) 
    
tv_series_df = pd.DataFrame.from_dict(tv_series_dict)
tv_series_df

,Name,Year span,Genre,Run time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"1,849,399"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"886,678"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.2,"886,284"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"266,579"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"227,072"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"45,073"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"55,797"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8,"171,947"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"35,733"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"195,269"

In [1086]:
print("**"*40)
print("**"*40)

********************************************************************************
********************************************************************************

### Q10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
### You have to find the following details:
### A) Dataset name
### B) Data type
### C) Task
### D) Attribute type
### E) No of instances
### F) No of attribute
### G) Year
### Note: - from the home page you have to go to the Show All Dataset page through code.

In [1096]:
from tqdm import tqdm
## this will help track the for loops.

In [1106]:
Details_of_Datasets_df

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [1087]:
driver = webdriver.Chrome('/Users/olivierla412/Desktop/chromedriver')

In [1107]:
### fetching the website
UCI_url ='https://archive.ics.uci.edu/'
driver.get(UCI_url)
time.sleep(2)
driver.maximize_window()
time.sleep(5)
driver.find_element_by_xpath('/html/body/table[1]/tbody/tr/td[2]/span[2]/a/font/b').click()
### creating some empty list
time.sleep(3)
Datasets_dict = {}
Datasets_dict['Dataset name'] =[]
Datasets_dict['Data type'] =[]
Datasets_dict['Task'] =[]
Datasets_dict['Attribute type'] =[]
Datasets_dict['No of instances'] =[]
Datasets_dict['No of attribute'] =[]
Datasets_dict['Year'] =[]
table_Xpath = driver.find_elements_by_xpath('/html/body/table[2]/tbody/tr/td[2]/table[2]/tbody/tr/td')
time.sleep(2)
## creating an empty list
data_list = []
for x in table_Xpath:
    data_list.append(x.text)

for x in tqdm(range(7,len(data_list),7)):
    Datasets_dict['Dataset name'].append(data_list[x])
    Datasets_dict['Data type'].append(data_list[x+1])
    Datasets_dict['Task'].append(data_list[x+2])
    Datasets_dict['Attribute type'].append(data_list[x+3])
    Datasets_dict['No of instances'].append(data_list[x+4])
    Datasets_dict['No of attribute'].append(data_list[x+5])
    Datasets_dict['Year'].append(data_list[x+6])
## creating the data frame
Details_of_Datasets_df = pd.DataFrame.from_dict(Datasets_dict)
Details_of_Datasets_df

100%|██████████| 588/588 [00:00<00:00, 461499.02it/s]

,Dataset name,Data type,Task,Attribute type,No of instances,No of attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
583,in-vehicle coupon recommendation,Multivariate,Classification,,12684,23,2020
584,Gait Classification,Multivariate,Classification,Real,48,321,2020
585,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
586,Wikipedia Math Essentials,Time-Series,Regression,Real,731,1068,2021
587,Synchronous Machine Data Set,Multivariate,Regression,Real,557,5,2021

In [1109]:
Details_of_Datasets_df.to_csv('Details_of_Datasets_df.csv',index=False)

In [1110]:
print("**"*40)
print("**"*40)

********************************************************************************
********************************************************************************

## __END OF WEB SCRAPING ASSIGNMENT4__